<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>부서 상세 조회</title>
<th:block th:replace="~{common/config/default_config::BootstrapConfig}"></th:block>
</head>
<body>
	<div class="container text-center">
		<h3>부서 상세 조회</h3>
		<div>
			<div>
				<label>부서 번호</label> 
				<input id="did" type="text"
					th:value="${dept.departmentId}" readonly>
			</div>
			<div>
				<label>부서 이름</label> 
				<input id="dname" type="text"
					th:value="${dept.departmentName}" readonly>
			</div>
			<div>
				<label>상사 번호</label> 
				<input id="mid" type="text"
					th:value="${dept.managerId}" readonly>
			</div>
			<div>
				<label>지역 번호</label> 
				<input id="lid" type="text"
					th:value="${dept.locationId}" readonly>
			</div>
			<div>
				<button type="button" th:onclick="|location.href = '@{/deptUpdate(departmentId=${dept.departmentId})}'|">수정</button>
				<button type="button" th:onclick="|location.href = '@{/deptList}'|">목록</button>
				<button type="button" th:onclick="|location.href = '@{/deptDelete(departmentId=${dept.departmentId})}'|">삭제</button>
			</div>
		</div>
	</div>

</body>
</html>