<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- configs -->
<th:block th:replace="~{common/config/default_config::BootstrapConfig}"></th:block> <!-- replace는 대체 -->
</head>
<body>
	<header th:insert="~{common/fragments/default_header::DefaultHeader}"> <!-- insert는 header 냅둔 상태로 하위로 들어감 -->
	</header>
	<main>
		<div layout:fragment="Content"></div>
	</main>
</body>
</html>