<!DOCTYPE html>
<html xmlns:th ="https://www.thymeleaf.org " 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{common/layouts/default_layout}" 
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- bootstrap -->
<th:block th:replace="~{common/config/default_config::BootstrapConfig}"></th:block>

</head>
<body>
	<div class="container text-center">
		<h3>전체 사원 조회</h3>
		<table class="table border">
			<thead>
				<tr>
					<th>NO.</th>
					<th>사원번호</th>
					<th>이름</th>
					<th>입사일자</th>
					<th>업무</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="info , stats : ${emp}">
				<tr th:onclick = "|location.href = '@{/empInfo(employeeId=${info.employeeId})}'|">
					<td>[[${stats.count}]]</td>
					<td>[[${info.employeeId}]]</td>
					<td>[[${info.lastName}]]</td>
					<td>[[${#dates.format(info.hireDate,'yyyy년 MM월 dd일')}]]</td>
					<td>[[${info.jobId}]]</td>
				</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>